.memoryContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  min-width: 70rem;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  position: relative;
  flex: 0 0 calc(33.33% - 20px);
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
  /* height: 15rem; */
  border: 3px solid rgba(0, 217, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 10rem; */
  cursor: pointer;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.cardBtn {
  background: none;
  height: 15rem;
  max-width: 10rem;
  border: none;
  cursor: pointer;
}

.cardContainer {
  background-color: transparent;
  width: 10rem;
  height: 15rem;
  perspective: 1000px;
}

/* .cardContainer:hover .imageContainer {
  transform: rotateY(180deg);
} */

.imageContainer.flipped {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipCardFront {
  transform: rotateY(180deg);
}
